:root {
    --button-light: #000;
    --button-dark: #fff;
    --circle-light: #ffffff;
    --circle-dark: #333333;
}


.theme-toggle-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-light);
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.theme-toggle {
    background-color: transparent;
    border: none;
    position: relative;
    width: 4rem;
    height: 2rem;
    border-radius: 3rem;
    padding: 0;
    cursor: pointer;
}
  
.circle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 1.75rem;
    height: 1.75rem;
    background-color: var(--circle-light);
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
  
  /* Когда включена темная тема */
body.dark-theme .theme-toggle-container {
    background-color: var(--button-dark);
}
  
body.dark-theme .circle {
    transform: translateX(2rem);
    background-color: var(--circle-dark);
}

.home_links {
    padding-top: 3%;
}